html {

    background-color: rgb(223, 223, 86);
}


.text-truncate {

    background-color:rgb(125, 194, 250);
    max-width: 100px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.points {
    background-color: white;
    max-width: auto;
    text-align: center;
}

.lists-create-child {

    margin-top: 30px;
    
}

.hello-kid {

    font-size: 28px;
    color: black;
    font-weight: bold;
}