.list{
    color: #fff;
    width: 100%;
    margin: 20px auto;
    height: 100px;
    background-color: #4b79bd;
    border-radius: 5px;
}
.list p{
    /* margin : 30px; */
    position: relative;
    transition: ease-in-out;
}
/* .list p input{
    background-color: red;
    border: 0;
    color: #fff;
    font-size: 18px;
    padding-left:0px;
    margin:10px;
    text-align: left;
    max-width: 200px;
} */
.list p input:focus{
    outline: none;
}
.list p span{
    position: absolute;
    right: 10px;
}
.faicons{
    margin: 0 5px;
    font-size: 15px;
    cursor: pointer;
}
.itemsAnim-enter{
    opacity: 0.01;
}
.itemsAnim-enter .itemsAnim-enter-active{
    opacity: 1;
    transition: opacity 300ms ease-in
}
.itemsAnim-leave{
    opacity: 1;
}
.itemsAnim-leave .itemsAnim-leave-active{
    opacity: 0.01;
    transition: opacity 300ms ease-in
}

/* .text-truncate {

    background-color: rgb(159, 159, 187);
    max-width: 100px;
    margin-bottom: 20px;
}

.points {
    background-color: rgb(197, 197, 107);
    max-width: auto;
    text-align: center;
} */
